.letter {
  border: 2px solid #5C5C62;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 400px) {
  .letter {
    height: 64px;
    width: 64px;
  }
}