.letter {
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #5C5C62;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 400px) {
  .letter {
    height: 64px;
    width: 64px;
  }
}