.game-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
}

.submit {
  font-weight: 600;
  /* size: 16px;
  line-height: 16px; */
  height: 48px;
  width: 340px;
  padding: 16px 24px 16px 24px;
  margin: 48px 0px 48px 0px;
  background-color: #1A1A1A;
  color: #5C5C62;
  border: none;
  border-radius: 8px;
}

.active-button {
  font-weight: 600;
  /* size: 16px;
  line-height: 16px; */
  height: 48px;
  width: 340px;
  padding: 16px 24px 16px 24px;
  margin: 48px 0px 48px 0px;
  background-color: #3A3A3C;
  color: white;
  border: none;
  border-radius: 8px;
}

.active-button:hover {
  background-color: #4a4a4a;
}

.custom-keyboard {
  background-color: #262627 !important;
  color: black;
  border-radius: 2px !important;
}


.button-theme {
  padding: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -2px;
  background: #3A3A3C !important;
  border-bottom: 0px !important;
  color: white;
}

.enter-theme {
  font-size: 12px;
}

@media screen and (max-width: 400px) {
  .game-grid {
    padding-top: 32px;
  }
  .submit {
    height: 40px;
    width: 351px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px
  }
}